<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center background">
  <img src="">
  <img src=" ../../../assets/img/logo.png" width="200">
  <ion-item>
    <ion-input label="Usuario" labelPlacement="stacked" placeholder="Escribe aquí..."></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Contraseña" type="password" labelPlacement="stacked"></ion-input>
  </ion-item>
  <br>
  <ion-button>Iniciar Sesión</ion-button>
</ion-content>