.puntaje-container {
    margin-top: 40px;
    padding: 16px;
}

.puntaje-icon {
    font-size: 100px;
    color: #f2f2f2;

}

.encabezado {
    background-color: #123142;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 0;
}

.subtitulo {
    background-color: #3b657a;
    color: white;
    font-weight: bold;
}

.row {
    background-color: #f2f2f2;
    color: #333;
    padding: 8px 0;
}

.titulo {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #f2f2f2;
}