<app-header titulo="Puntajes"></app-header>
<ion-content [fullscreen]="true" class="gradient background">
  <div class="ion-text-center puntaje-container">
    <ion-icon name="ribbon-outline" class="puntaje-icon"></ion-icon>
    <h1 class="titulo">Mis Puntajes</h1>
    <ion-grid>
      <ion-row class="encabezado">
        <ion-col>TABLA DE PUNTUACIONES</ion-col>
      </ion-row>
      <ion-row class="subtitulo">
        <ion-col>Puntaje</ion-col>
        <ion-col>Tiempo</ion-col>
      </ion-row>

      <ion-row class="row">
        <ion-col>1000</ion-col>
        <ion-col>5:30</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>